.correct {
  background-color: rgba(17, 221, 19, 0.75);
}

.incorrect {
  background-color: rgba(255, 0, 0, 0.75);
}

.choice {
  height: 60px;
  width: 100%;
  vertical-align: middle;
  line-height: 60px;
  background-color: rgba(3,23,65,.50);
  color: white;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.choice * {
  padding-bottom: 0;
}

.choice img {
  margin-right: 1rem;
}

.choice p {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.content {
  background-color: rgba(0, 119, 188, 0.85);
  border-radius: 10px;
  height: 60%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content h1 {
  color: white;
  margin-bottom: 5%;
}

.reset {
  width: 60%;
  height: 30%;
  font-size: 3rem;
  background-color: rgb(3,23,65);
  color: rgb(0,226,255);
  border: none;
}

main {
  width: 100%;
}

.genre {
  height: 40px;
  width: 80%;
  margin-left: 10%;
  font-size: 25px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: rgb(3,23,65);
  color: white;
  text-align: center;
}

.pie{
  width: 250px;
  height: 250px;
  display: block;
  position: relative;
  border-radius: 50%;
  background-color: rgb(3,23,65);
  border: 2px solid rgb(3,23,65);
  float: left;
  margin: 2em;
}

.pie .block{
  position:absolute;
  width:230px;
  height:230px;
  display:block;
  border-radius:50%;
  top:10px;
  left:10px;
}

#time{
  font-size:3em;
  position:absolute;
  top:35%;
  left:43%;
  color: rgb(0,226,255);
}
.degree{
  background-image:
    linear-gradient(90deg, transparent 50%, white 50%),
    linear-gradient(90deg, white 50%, transparent 50%);
}
